---
<!-- permalink: /404.html -->
layout: wrapper
---

<!-- Header -->
<header class="cover-section">
    <div class="img-cover">{{ page.cover-image }}</div>
    <div class="header-text">
        <h3>{{ page.header-text-h3 }}</h3>
        <h1>{{ page.header-text-h1 }}</h1>
        <p><b>{{ page.header-text-p }}</b></p>
    </div>
    <button class="home-button"><a href="/code-of-conduct/"><h3 class="home-button-text" >Read the Code of Conduct</h3></a></button>
</header>

<!-- Introduction -->
<div class="introduction-text-section">
    {{ content }}
</div>

<!-- Other Groups and Community -->
<div class="other-groups-section">
    <div class="groups">
        <div class="img-group">{{ page.group-img-1 }}</div>
        <h2 class="name-group">{{ page.group-h-1 }}</h2>
        <p class="info-group">{{ page.group-p-1 }}</p>

    </div>
    <div class="groups">
        <div class="img-group">{{ page.group-img-2 }}</div>
        <h2 class="name-group">{{ page.group-h-2 }}</h2>
        <p class="info-group">{{ page.group-p-2 }}</p>
    </div>
    <!-- <div class="groups">
        <div class="img-group">{{ page.group-img-3 }}</div>
        <h2 class="name-group">{{ page.group-img-3 }}</h2>
        <p class="info-group">{{ page.group-img-3 }}</p>
    </div> -->
</div>

<!-- Reading List -->

<!-- <div class="reading-list-section">
    <div class="reading-list-text">
        <h2 class="name-reading">{{ page.reading-h }}</h2>
        <p class="info-reading">{{ page.reading-p }}</p>
    </div>
    <div class="books-list">
        <div class="books">
            <p><a href=""></a>{{ page.book-1 }}</p>
            <p>{{ page.author-1 }}</p>
        </div>
        <div class="books">
            <p><a href="">{{ page.book-2 }}</a></p>
            <p>{{ page.author-2 }}</p>
        </div>
        <div class="books">
            <p><a href="">{{ page.book-3 }}</a></p>
            <p>{{ page.author-3 }}</p>
        </div>
        <div class="books">
            <p><a href="">{{ page.book-4 }}</a></p>
            <p>{{ page.author-4 }}</p>
        </div>
        <div class="books">
            <p><a href="">{{ page.book-5 }}</a></p>
            <p>{{ page.author-5 }}</p>
        </div>
       
    </div>
</div> -->

<section class="contribution-section">
    <button class="contribution-button">Make a Contribution</button>
    <h1 class="contribution-text">Contribute, report and issue, participate into this document and the
      Code of Conduct community.</h1>
  </section>